Dictionary/.classpath
Dictionary/.project
Dictionary/.settings/
Dictionary/modules/
DictionaryUI/.classpath
DictionaryUI/.project
DictionaryUI/.settings/
DictionaryUI/modules/
DictionarySwingGUI/.classpath
DictionarySwingGUI/.project
DictionarySwingGUI/.settings/
DictionarySwingGUI/bin/
